header {
    background-color: var(--surface-color);
    height: 60px;
    position: sticky;
    top: 0px;
}

/* Left Side */
.header-left-side {
    width: 30%;
}

/* Right Side */
.header-right-side {
    width: 70%;
}

.nav-options {
    width: 100%;
}

.nav-options a {
    color: white;
    font-size: 1rem;
    text-transform: uppercase;
    margin: 2%;
    padding: 1% 2%;
}

.nav-options a:hover {
    border-bottom: solid 2px white;
}